@import "~antd/dist/antd";
@import "~react-slidedown/lib/slidedown.css";

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.page-content {
  margin-top: "1rem";
  @include breakpoint(xs) {
    padding: 0;
  }
  @include breakpoint(sm) {
    padding: 0 50px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

@media screen and (max-width: 680px) {
  .ant-back-top {
    bottom: 50px;
  }
}
@media screen and (min-width: 681px) {
  .ant-back-top {
    bottom: 50px;
  }
}

.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.content-wrapper {
  background-color: #FFF;
  min-height: 280px;
  @include breakpoint(xs) {
    padding-top: 24px;
    margin-right: 5px;
    margin-left: 5px;
  }
  @include breakpoint(sm) {
    padding: 24px;
  }
}

.ant-card {
  &.open {
    .ant-card-head {
      background-color: rgba($color: #000000, $alpha: 0.05);
      border-radius: 25px 25px 0px 0px;
      transition: border-radius 0.3s ease-in-out;
    }
    .ant-card-body {
      background-color: rgba($color: #000000, $alpha: 0.05);
      border-radius: 0px 0px 25px 25px;
      transition: border-radius 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
  }
  &.closed {
    .ant-card-head {
      border-radius: 25px 25px 25px 25px;
      transition: border-radius 0.3s ease-in-out;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
      }
    }
    .ant-card-body {
      background-color: #ffffff;
      border-radius: 25px 25px 0px 0px;
      transition: border-radius 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
  }
}
.ant-card-body {
  padding-top: 0;
  padding-bottom: 0;
}
.react-slidedown.custom-dropdown-slidedown {
  overflow-x: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
